/* ====== DEAFULT ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* ====== VARIABLES ====== */
:root {
  /* ====== COLORS ====== */
  --white: #ffffff;
  --off-white: #dfdfdf;
  --black: #090909;
  --purple: #9a1bfc;
  /* ====== TYPOGRAPHY ====== */
  --body-font-size: 0.85rem;
  --big-text-font-size: 1.3rem;
  --heading-font-size: 3.1rem;
  /* ====== OTHER ====== */
  --document-padding: 2.8rem;
}

/* ====== MAIN ====== */
body {
  width: 100vw;
  min-height: 100vh;
  font-size: var(--body-font-size);
  background-color: var(--black);
  overflow-x: hidden;
}
main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--document-padding);
}
nav .logo {
  font-size: var(--big-text-font-size);
  color: var(--white);
}
.logo span {
  color: var(--purple);
  font-weight: 800;
}
nav .links a:not(:last-child) {
  margin-right: 4rem;
}
nav .links a {
  color: var(--off-white);
  text-decoration: none;
  position: relative;
}
nav .links a:before {
  content: "";
  width: 0;
  height: 0.11rem;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--purple);
  transition: 0.3s ease;
}
nav .links a:hover:before {
  width: 105%;
}
#active {
  color: var(--white);
  font-weight: 500;
}
#active:before {
  width: 105%;
}
.hammenu {
  color: var(--purple);
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.main-part {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.item img {
  max-width: 100%;
  height: auto;
  transition: 0.3s ease;
}
.item img:hover{
  filter: grayscale(100%);
  transform: scale(0.9);
}
.container {
  margin-top: 4rem;
  width: 85vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.texts {
  text-align: center;
}
.texts h1 {
  color: var(--white);
  font-size: var(--heading-font-size);
}
.texts h1 span {
  color: var(--purple);
}
.texts p {
  color: var(--off-white);
  margin-top: 0.8rem;
}
@media screen and (max-width: 1012px) {
  :root {
    /* ====== TYPOGRAPHY ====== */
    --body-font-size: 0.75rem;
    --big-text-font-size: 1rem;
    --heading-font-size: 2.5rem;
  }
}
@media screen and (max-width: 521px) {
  :root {
    /* ====== TYPOGRAPHY ====== */
    --heading-font-size: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .hammenu {
    display: block;
  }
  .links {
    display: none;
  }
  .resMenu {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--purple);
    z-index: 100;
    transition: 0.8s ease-in-out;
  }
  nav .links a:not(:last-child) {
    margin-right: 0;
  }
  .resMenu a {
    margin-top: 3rem;
    font-weight: 700;
  }
  .links a:before {
    background-color: var(--white);
  }
  .resMenu #active {
    font-weight: 700;
  }
  .cross {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}
